/* excursion form */
.excursion-form {
	width: 80%;
	margin: 1rem auto;
	margin-top: -5rem;
	background-color: #eee;
	border-radius: 1rem;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
		20px 10px 40px 0px rgba(0, 0, 0, 0.1), 0px 70px 70px 0px rgba(0, 0, 0, 0.09);
	padding: 3rem 2rem;
}
.excursion-form form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 1.5rem;
}
.excursion-form form .inputBox select {
	width: 100%;
	padding: 1.3rem 1.4rem;
	border-radius: 5rem;
	border: 0.2rem solid #d9296f;
	font-size: 1.6rem;
	background: none;
	margin-top: 1rem;
}
.excursion-form form .btn {
	padding: 1.3rem 1.4rem;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 15rem;
	flex: 1 1 15rem;
}
/* destination search */
.destination-search .box-container {
	padding-top: 4rem;
	display: -ms-grid;
	display: grid;
	-ms-grid-template-column: (minmax(27rem, 1fr)) auto[auto-fit];
	grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
	gap: 1.5rem;
}
.destination-search .box-container .box {
	border-radius: 1rem;
	overflow: hidden;
	background: #fff;
	box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
}
.destination-search .box-container .box .content {
	padding: 2rem;
	color: #000;
}
.destination-search .box-container .box .content h3 {
	font-size: 2.4rem;
	color: #3d3d3d;
	line-height: 2;
}
.destination-search .box-container .box .content .date {
	font-size: 1.7rem;
	color: #d9296f;
	line-height: 2;
	padding-bottom: 0.5rem;
}
.destination-search .box-container .box .content .theme {
	font-size: 1.4rem;
	color: #3d3d3d;
	line-height: 2;
	padding-bottom: 0.5rem;
}
.destination-search .box-container .box .content .description {
	font-size: 1.4rem;
	color: #3d3d3d;
	line-height: 2;
	padding-bottom: 1.5rem;
}
.destination-search .box-container .box .content a {
	font-size: 1.7rem;
	color: #d9296f;
}
.destination-search .box-container .box .content a:hover i {
	padding-left: 1rem;
}
.destination-search .box-container .box .content a i {
	padding-right: 0.5rem;
}
.destination-none {
	padding-top: 2rem;
	text-align: center;
}
.destination-none h3 {
	color: #000;
	font-size: 4rem;
}