/* excursion */
.excursion-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 4rem;
	margin-top: 10.5rem;
}
.excursion .photo-container {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 42rem;
	flex: 1 1 42rem;
}
.excursion .photo-container img {
	border-radius: 1rem;
	width: 100%;
}
.excursion .content {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 42em;
	flex: 1 1 42rem;
	margin-bottom: 5rem;
}
.excursion .content span {
	color: #d9296f;
	font-size: 2rem;
}
.excursion .content h3 {
	color: #000;
	font-size: 4rem;
	margin-top: 2rem;
}
.excursion .content p {
	padding: 2rem 0;
	font-size: 1.4rem;
	color: #3d3d3d;
	line-height: 2;
}
.stars {
	position: relative;
	font-size: 40px;
	display: inline-block;
}
// .stars::before {
// 	content: '★★★★★';
// 	display: block;
// }
// .stars-wrap {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	display: flex;
// 	flex-direction: row-reverse;
// 	overflow: hidden;
// }
// .star-input {
// 	position: absolute;
// 	width: 0%;
// 	height: 0%;
// 	opacity: 0;
// 	visibility: hidden;
// 	top: 0;
// 	left: 0;
// }
// .star-label {
// 	flex: 0 0 20%;
// 	height: 100%;
// 	cursor: pointer;
// 	color: #3d3d3d;
// }
// .star-label::before {
// 	content: '★';
// 	display: block;
// 	transition: color 0.1s ease 0s;
// }
// .star-input:checked,
// .star-input:checked ~ .star-label {
// 	color: #ffd300;
// }
// .star-label:hover,
// .star-label:hover ~ .star-label,
// .star-label:checked ~ .star-label:hover {
// 	color: #ffe97c;
// }
/* book form */
.book-form {
	width: 80%;
	margin: 1rem auto;
	margin-top: 3rem;
	background-color: #ffffff;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
		20px 10px 40px 0px rgba(0, 0, 0, 0.1), 0px 70px 70px 0px rgba(0, 0, 0, 0.09);
	border-radius: 1rem;
	padding: 3rem 2rem;
}
.book-form form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 1.5rem;
}
.book-form form .btn {
	padding: 1.3rem 1.4rem;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 15rem;
	flex: 1 1 15rem;
}
.comments-container {
	display: flex;
	margin-top: 5rem;
	width: 1200px;
	padding: 20px;
	flex-direction: column;
	flex-shrink: 0;
	background-color: #fff;
	border-radius: 1rem;
}
.comments-container h1 {
	font-size: 3rem;
}
.create-comment form {
	padding: 1rem;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
	align-self: stretch;
	border-radius: 8px;
	border: 1px solid #d9296f;
	background: #fff;
	box-shadow: 0px 4px 8px 0px rgba(10, 58, 100, 0.15);
}
.create-comment form textarea {
	height: 4rem;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: #000;
	font-size: 16px;
	line-height: 28px;
}
.create-comment form input {
	height: 3rem;
	width: 15rem;
	border-radius: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #000;
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
}
.create-comment form input::placeholder {
	color: rgba(0, 0, 0, 0.4);
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	line-height: 28px;
}
.create-comment .wrap-send {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
.create-comment form .wrap-send button {
	border-radius: 8px;
	background: #ef5693;
	display: flex;
	padding: 8px 20px;
	color: #fff;
}
.create-comment form .wrap-send button:hover {
	background: #d9296f;
}
.comments {
	padding: 1rem;
	margin-top: 5rem;
	display: flex;
	font-size: 1.5rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
	align-self: stretch;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0px 4px 8px 0px rgba(10, 58, 100, 0.15);
}
